{% set vert = ((remplissage - poid)/remplissage *100) %}
{% if vert < 0 %}
	{% set classRouge = "bg-warning" %}
	{% set classVert = " bg-info" %}
{% else %}
	{% set classRouge = "bg-danger" %}
	{% set classVert = " bg-success" %}
{% endif %}
<div class="progress mb-0">
	<div class="progress-bar  progress-bar-striped {{classRouge}}" role="danger" style="width: {{ (100 - vert)|round }}%" aria-valuenow="{{ (100 - vert)|round }}" aria-valuemin="0" aria-valuemax="100">
		{{ (100 - vert)|round }}
		% R</div>
	<div class="progress-bar progress-bar-striped {{classVert}}" role="progressbar" style="width: {{  vert|round }}%" aria-valuenow="{{ vert|round }}" aria-valuemin="0" aria-valuemax="100">
		{{ vert|round }}
		% V</div>
</div>
