<div class="custom-dd dd nestable_list_1" id="nestable_list_1">
	<ol class="dd-list">
		{% for segment in filiere.segments %}
			<li class="dd-item" data-id="2">
				<div class="dd-handle">
					Segment
					{{ segment.nomSegment }}
				</div>
				<ol class="dd-list">
					<li class="dd-item" data-id="3">
						<div class="dd-handle">
							<table width="100%">
								<tbody>
									<tr>
										<th>
											Nom Segment
											<span class="footable-sort-indicator"></span>
										</th>
										<td>
											Segment
											{{ segment.nomSegment }}
										</td>
									</tr>
									<tr>
										<th>
											Remplissage Segment (%)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>{% include "etat_actuel_prod/partials/_progress.html.twig" with {remplissage: ((segment.totaleCordes * 100 ) / (segment.nombreEmplacements == 0 ?1 : segment.nombreEmplacements))|round } only %}</td>
									</tr>
									<tr>
										<th>Flottabilité Segment (%)<span class="footable-sort-indicator"></span>
										</th>
										<td>{% include "etat_actuel_prod/partials/_flottabiliter.html.twig" with {remplissage: segment.flottabiliter} only %}{{segment.volumesTotale}}
											(L)
											{{segment.flottabiliter}}
											(kgf)
										</td>
									</tr>

									<tr>
										<th>
											Taille Segment (m)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>{{ segment.longeur  }}</td>
									</tr>
									<tr>
										<th>
											Total Emplacements (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>{{segment.getNombreEmplacements }}</td>
									</tr>
									<tr>
										<th>
											Emplacements Vides (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Emplacements Remplis (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Total Cordes (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Total Cordes Huitre (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Total Cordes Moule (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Total Lanternes (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Total Poches (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Total Passages chaussettes (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Dérniere Date De MAE
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<td colspan="2">
											<table class="table table-striped mb-0">
												<tbody>
													{% set distanceSurSegment = 0 %}
													{% set distance10Emplacement = 0 %}
													{% for emplacement in segment.emplacements %}
														{% if loop.index0 % 10 == 0 %}
															{% set distance10Emplacement = distanceSurSegment + (segment.pas * 10) %}
															<tr>
																<td>
																	{% for flotteur in segment.flotteurSegments %}
																		{% set distanceDeDepart = flotteur.distanceDeDepart %}
																		{% for i in range(1, flotteur.nombre) %}
																			{% if distanceDeDepart >= distanceSurSegment and distanceDeDepart < distance10Emplacement %}
																				<span>
																					<b>{{ flotteur.flotteur.nomFlotteur }}</b>
																					distance:
																					{{ distanceDeDepart }}
																					volume:
																					{{ flotteur.flotteur.volume }}
																					kgf:
																					{{ flotteur.flotteur.kgf }}
																					<br/>
																				</span>
																			{% endif %}
																			{% set distanceDeDepart = flotteur.distanceDeDepart + (i * flotteur.pas) %}
																		{% endfor %}
																	{% endfor %}
																</td>
															{% endif %}
															<td>{{ emplacement.place }}</td>
															{% if loop.index0 % 10 == 9 or loop.last %}
																{% set distanceSurSegment = distanceSurSegment + (segment.pas * 10) %}
															</tr>
														{% endif %}
													{% endfor %}
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ol>
			</li>
		{% endfor %}
	</ol>
</div>
