<div class="custom-dd dd nestable_list_1" id="nestable_list_1">
	<ol class="dd-list">
		{% for segment in filiere.segments %}

			<li class="dd-item" data-id="2">
				<div class="dd-handle">
					Segment
					{{ segment.nomSegment }}
				</div>
				<ol class="dd-list">
					<li class="dd-item" data-id="3">
						<div class="dd-handle">
							<table width="100%">
								<tbody>
									<tr>
										<th>
											Nom Segment
											<span class="footable-sort-indicator"></span>
										</th>

										<td>
											Segment
											{{ segment.nomSegment }}
										</td>
									</tr>
									<tr>
										<th>
											Remplissage Segment (%)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>{% include "etat_actuel_prod/partials/_progress.html.twig" with {remplissage: loop.index} only %}</td>
									</tr>
									<tr>
										<th>Flottabilité Segment (%)<span class="footable-sort-indicator"></span>
										</th>
										<td>{% include "etat_actuel_prod/partials/_flottabiliter.html.twig" with {remplissage: segment.flottabiliter} only %}{{segment.flottabiliter}}</td>
									</tr>
									<tr>
										<th>
											Capacité Segment (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Places Remplies (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Places Vides (u)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Taille Segment (m)
											<span class="footable-sort-indicator"></span>
										</th>
										<td>{{ segment.longeur  }}</td>
									</tr>
									<tr>
										<th>
											Nombre de place totale
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Nombre de place vide
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Nombre de place remplis
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Nombre de place corde
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Nombre de place corde huitre
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Nombre de place corde moule
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Nombre de place corde lanterne
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>
										<th>
											Date Min MAE
											<span class="footable-sort-indicator"></span>
										</th>
										<td>0</td>
									</tr>
									<tr>

										<td colspan="2">
											<table class="table table-striped mb-0">
												<tbody>
													{# Itérer par plages de 10 emplacements sans chevauchement #}
													{% set flotteursDansPlage = [] %}
													{% set distanceSurSegment = 0 %}
													{% set counter = 0 %}
													{# Initialisation du compteur #}

													{% for position in range(0, segment.longeur / segment.pas) %}
														{% if position < segment.emplacements|length %}
															{% if counter % 10 == 0 %}
																{# Début d'une nouvelle ligne après 10 éléments #}
																<tr>
																	{# Ouverture d'une nouvelle ligne de tableau #}
																	<td>
																		{# Ajoutez ici les données supplémentaires pour la nouvelle colonne #}
																		{% for flotteur in segment.flotteurSegments %}
																			{% set distanceDeDepart = flotteur.distanceDeDepart %}
																			{% set nombre = flotteur.nombre %}
																			{% set pas = flotteur.pas %}
																			{% set debut = distanceDeDepart %}
																			{% set fin = debut + (nombre + pas) %}
																			{% set plage = (position // 10) * 10 %}

																			{% if distanceDeDepart == 0 %}
																				{% set debut = 0 %}
																				{% set fin = nombre + pas %}
																			{% endif %}

																			{% if debut >= plage and debut < (plage + 10) %}
																				<span>

																					<span>
																						{{ flotteur.flotteur.nomFlotteur }}<br>
																						volume:
																						{{ flotteur.flotteur.volume }}<br>
																						kgf:
																						{{ flotteur.flotteur.kgf }}
																						<br/>
																					</span>
																				{% endif %}
																			{% endfor %}
																		</td>
																	{% endif %}
																	<td>
																		<span>
																			{{  segment.emplacements[position].place }}
																		</span>
																	</td>


																	{% set counter = counter + 1 %}
																	{# Incrémentation du compteur #}

																	{% if counter % 10 == 0 or loop.last %}
																	</tr>
																{% endif %}
															{% endif %}
														{% endfor %}
													</tbody>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ol>
			</li>
		{% endfor %}
	</ol>
</div>
