{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	- FMB
{% endblock %}
{% block stylesheet %}
	{% if(entity != null) %}
		{#   <link href="{{ asset('bundles/ssfmb/plugins/nestable/jquery.nestable.css') }}" rel="stylesheet"/>#}
		{{ parent() }}
	{% endif %}
{% endblock %}
{% block header %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{{ parent() }}
	{% set page = 'Statistique' %}
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md md-store-mall-directory text-info"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">{{ nbrParc|length}}</span>
				</h2>
				<div class="text-muted m-t-5">Total Parcs
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ion-android-mixer text-primary"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">{{ nbrfiliere }}</span>
				</h2>
				<div class="text-muted m-t-5">Total Filières</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrcorde }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Total Cordes</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrcordeae }}
					</span>
				</h2>
				<div class="text-muted m-t-5">
					Total Cordes
					<br>à l'eau</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrordehuitreae }}
					</span>
				</h2>
				<div class="text-muted m-t-5">
					Cordes Huîtres
					<br>
					à l'eau</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbcordemouleae }}
					</span>
				</h2>
				<div class="text-muted m-t-5">
					Cordes Moules
					<br>à l'eau</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrcordev }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Cordes<br>
					vides</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrcordep }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Cordes
					<br>Préparées</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbCordeHuitreP }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Cordes Huîtres
					<br>Préparées</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbCordeMouleP }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Cordes Moules
					<br>
					Préparées</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrCordeAs }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Cordes Assemblées
					<br>
					Préparées</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4 text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrCordeAsAe }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Cordes Assemblées
					<br>
					à l'eau</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md ti-layout-column4-alt text-pink"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrCordeChausser }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Chaussettes Cordes<br>à l'eau</div>
			</div>
		</div>

	</div>


	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-th-menu-outline text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">

						{{ nbrlanterne }}</span>
				</h2>
				<div class="text-muted m-t-5">Total Lanternes</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-th-menu-outline text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">

						{{ nbrlanterneae }}</span>
				</h2>
				<div class="text-muted m-t-5">Lanternes à l'eau</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-th-menu-outline text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">

						{{ nbrlanternev }}</span>
				</h2>
				<div class="text-muted m-t-5">Lanternes vides</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-th-menu-outline text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">

						{{ nbrlanternep }}</span>
				</h2>
				<div class="text-muted m-t-5">Lanternes Préparées</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-th-menu-outline text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">

						{{ nbrlanterneChausser }}</span>
				</h2>
				<div class="text-muted m-t-5">Chaussettes Lanternes
					<br>à l'eau</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-shopping-bag text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrpoche }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Total Poches</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-shopping-bag text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrpocheae }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Poches à l'eau</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-shopping-bag text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrpochev }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Poches vides</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-shopping-bag text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrpochep }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Poches Préparées</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-shopping-bag text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrpocheAsp }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Poches Assemblées</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-shopping-bag text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbrpocheAsae }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Poches assemblées
					<br>
					à l'eau</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="widget-panel widget-style-2 bg-white">
				<i class="md typcn typcn-shopping-bag text-custom"></i>
				<h2 class="m-0 text-dark counter font-600">
					<span data-plugin="counterup">
						{{ nbPocheChausserAe }}
					</span>
				</h2>
				<div class="text-muted m-t-5">Chaussettes Poches
					<br>
					à l'eau</div>
			</div>
		</div>

	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<!-- Counter Up  -->
	<script src="{{ asset('bundles/ssfmb/plugins/waypoints/lib/jquery.waypoints.js') }}"></script>
	<script src="{{ asset('bundles/ssfmb/plugins/counterup/jquery.counterup.min.js') }}"></script>

	<!-- Widget js -->
	<script src="{{ asset('bundles/ssfmb/pages/jquery.widgets.js') }}"></script>

	<!-- Sparkline chart -->
	<script src="{{ asset('bundles/ssfmb/plugins/jquery-sparkline/jquery.sparkline.min.js') }}"></script>

{% endblock %}
