{% extends 'base.html.twig' %}

{% block title %}Lanterne index{% endblock %}

{% block body %}
    <h1>Lanterne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomLanterne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lanterne in lanternes %}
            <tr>
                <td>{{ lanterne.id }}</td>
                <td>{{ lanterne.nomLanterne }}</td>
                <td>
                    <a href="{{ path('app_conteneur_lanterne_show', {'id': lanterne.id}) }}">show</a>
                    <a href="{{ path('app_conteneur_lanterne_edit', {'id': lanterne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_conteneur_lanterne_new') }}">Create new</a>
{% endblock %}
