{% extends 'base.html.twig' %}
{% block body %}
	<!-- Form row -->
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					{{ form_start(form, { 'method': 'POST'}) }}
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="stock">STOCK DU PARC</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.stocks, { 'attr': { 'class': 'form-control' } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="corde">ESPECE</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.fruitDeMer, { 'attr': { 'class': 'form-control' } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="corde">TYPE CORDE</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.corde, { 'attr': { 'class': 'form-control' } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="quantiteEnStock">STOCK CORDES</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.quantiteEnStock, { 'attr': { 'class': 'form-control', 'readonly': true } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="quantite">LONGEUR CORDES (m)</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.longeur, { 'attr': { 'class': 'form-control' } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="datePreparation">DATE PREPARATION CORDES</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.datedecreation, { 'attr': { 'class': 'form-control', 'readonly': true } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="article">ARTICLES</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.article, { 'attr': { 'class': 'form-control' } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="lot">LOT ARTICLES</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.lot, { 'attr': { 'class': 'form-control' } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="densite">STOCK LOT</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.totalqte, { 'attr': { 'class': 'form-control', 'readonly': true} }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="densite">UNITES/CORDE</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.densite, { 'attr': { 'class': 'form-control'} }) }}
								</div>
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="nombre">NBR CORDES A FABRIQUER
									</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									{{ form_widget(form.nombre, { 'attr': { 'class': 'form-control' } }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<div class="grid-container">
									<label for="nombre">TOTAL UNITES UTILISEES
									</label>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="grid-container">
									nombre * unité par cordes
									{{ form_widget(form.quantiter, { 'attr': { 'class': 'form-control' } }) }}
								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary waves-effect waves-light">Validation</button>
					{{ form_end(form) }}
				</div>
				<!-- end card-body -->
			</div>
			<!-- end card -->
		</div>
		<!-- end col -->
	</div>
	<!-- end row -->
{% endblock %}
