{% extends 'base.html.twig' %}
{% block body %}
	<!-- Form row -->
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div
					class="card-body">
					{# 
																																																																																																																																																																																																																																																																																																																																					          <h4 class="header-title">Form row</h4>
																																																																																																																																																																																																																																																																																																																																					          <p class="text-muted font-13">
																																																																																																																																																																																																																																																																																																																																					            You may also swap
																																																																																																																																																																																																																																																																																																																																					            <code class="highlighter-rouge">.row</code>
																																																																																																																																																																																																																																																																																																																																					            for
																																																																																																																																																																																																																																																																																																																																					            <code class="highlighter-rouge">.form-row</code>, a variation of our standard grid row that overrides the default column gutters for tighter and more compact layouts.
																																																																																																																																																																																																																																																																																																																																					          </p> #}

					<form method="post">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="stock">Stock</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.stocks, { 'attr': { 'class': 'form-control' } }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="corde">Type Corde</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.corde, { 'attr': { 'class': 'form-control' } }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="quantiteEnStock">Quantité en stock</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.quantiteEnStock, { 'attr': { 'class': 'form-control', 'readonly': true } }) }}
									</div>
								</div>
							</div>

						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="quantite">Longeurs Cordes Préparées (m)</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.poid, { 'attr': { 'class': 'form-control' } }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="datePreparation">Date de préparation</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.datePreparation, { 'attr': { 'class': 'form-control', 'readonly': true } }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="article">Article</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.article, { 'attr': { 'class': 'form-control' } }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="lot">Lot</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.lot, { 'attr': { 'class': 'form-control' } }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="densite">Stock du lot</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										<input type="number" readonly="true" value="125" class="form-control" id="totalqte" style="display: block;">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="densite">Unités par cordes</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.densite, { 'attr': { 'class': 'form-control'} }) }}
									</div>
								</div>
							</div>
						</div>


						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="nombre">Nombre De Cordes a Fabriqués
										</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										{{ form_widget(form.nombre, { 'attr': { 'class': 'form-control' } }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<div class="grid-container">
										<label for="nombre">Total Unités utilisées
										</label>
									</div>
								</div>
								<div class="col-lg-9">
									<div class="grid-container">
										nombre * unité par cordes
										{{ form_widget(form.quantite, { 'attr': { 'class': 'form-control' } }) }}
									</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary waves-effect waves-light">Validation</button>
					</form>
				</div>
				<!-- end card-body -->
			</div>
			<!-- end card -->
		</div>
		<!-- end col -->
	</div>
	<!-- end row -->
{% endblock %}
