<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="utf-8"/>
		<title>
			{% block title %}Logiciel ASC by TAC & SIDRATSOFT
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
		<meta content="Coderthemes" name="author"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link href="{{ asset('build/css/bootstrap-creative-dark.min.css') }}" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" disabled/>
			<link href="{{ asset('build/css/app-creative-dark.min.css') }}" rel="stylesheet" type="text/css" id="app-dark-stylesheet" disabled/>
		{% endblock %}
	</head>
	<body data-layout-mode="horizontal" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
		<div id="wrapper">
			{% include '_topbar.html.twig' with {parcID: parcID} only %}
			{% include '_topnav.html.twig' only %}
			<div class="content-page">
				<div class="content">
					<div class="container-fluid"> {% block body %}{% endblock %}
						</div>

					</div>
					{% include '_footer.html.twig' only %}
				</div>
			</div>
			{% include '_sidebar.html.twig' only %}
			<div class="rightbar-overlay"></div>
			{% block javascripts %}

				{{ encore_entry_script_tags('app') }}

			{% endblock %}
		</body>
	</html>
